.ui-button {
  @apply rounded-lg
  inline-flex items-center
  transition-all ease-in-out duration-200
  disabled:opacity-40 disabled:pointer-events-none;
}

.primary-button {
  @apply text-white text-sm bg-drio-red border-0 py-2 px-8 focus:outline-gray-700 rounded-md hover:bg-drio-red-dark shadow-sm disabled:bg-gray-300 disabled:text-gray-700;
}

.google-button {
  @apply text-gray-700 text-sm font-medium border border-gray-300 py-2 px-8 focus:outline-gray-700 rounded-md shadow-sm;
}

.secondary-button {
  @apply border-2 border-gray-300 text-gray-500 text-sm py-2 px-8 shadow-sm focus:outline-gray-700 hover:border-gray-500;
}

.tertiary-button {
  @apply border-2 border-drio-red text-drio-red text-sm py-2 px-8 shadow-sm focus:outline-drio-red-dark hover:border-drio-red-dark hover:text-drio-red-dark;
}
