@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid black !important;
} */

:root {
  --drio-accent: #9c0001;
  --drio-accent-dark: #6b0405;
  --gray-50: #f8fafc;
  --gray-700: #374151;
  --gray-900: #111827;
}

/* Checkbox */
.react-aria-Checkbox {
  --checkmark-color: white;
  --deselected-color: #d1d5db;
  --deselected-color-pressed: #d1d5db;
  --selected-color: var(--drio-accent);
  --selected-color-pressed: lch(from var(--drio-accent) calc(l - 10%) c h);

  gap: 0.571rem;
  display: flex;
  align-items: center;
  color: var(--label-color);

  .checkbox {
    width: 1rem;
    height: 1rem;
    display: flex;
    cursor: pointer;
    border-radius: 4px;
    align-items: center;
    transition: all 200ms;
    justify-content: center;
    border: 1px solid var(--deselected-color);
  }

  &[data-pressed] .checkbox {
    border-color: var(--deselected-color-pressed);
  }

  &[data-selected],
  &[data-indeterminate] {
    .checkbox {
      border-color: var(--selected-color);
      background: var(--selected-color);
    }

    &[data-pressed] .checkbox {
      border-color: var(--selected-color-pressed);
      background: var(--selected-color-pressed);
    }
  }

  &[data-validation-state="invalid"] {
    .checkbox {
      border-color: var(--invalid-color);
    }

    &[data-pressed] .checkbox {
      border-color: var(--invalid-color-pressed);
    }

    &[data-selected],
    &[data-indeterminate] {
      .checkbox {
        background: var(--invalid-color);
      }

      &[data-pressed] .checkbox {
        background: var(--invalid-color-pressed);
      }
    }
  }

  &[data-focus-visible] .checkbox {
    box-shadow: 0 0 0 2px var(--spectrum-alias-background-color-default),
      0 0 0 4px var(--selected-color);
  }

  &[data-disabled] {
    opacity: 0.4;
  }
}

/* ================= RadioGroup ================= */

.react-aria-RadioGroup {
  gap: 8px;
  display: flex;
  flex-direction: column;

  &[aria-orientation="horizontal"] {
    flex-direction: row;
    align-items: center;
  }

  & [slot="description"] {
    @apply inline-block text-gray-700 font-medium;
  }

  & [slot="errorMessage"] {
    font-size: 12px;
    color: var(--spectrum-global-color-red-600);
  }
}

.react-aria-Radio {
  --deselected-color: #d1d5db;
  --deselected-color-pressed: #d1d5db;

  --selected-color: var(--drio-accent);
  --selected-color-pressed: lch(from var(--drio-accent) calc(l - 10%) c h);

  --invalid-color: var(--drio-accent-dark);
  --invalid-color-pressed: var(--drio-accent-dark);

  display: flex;
  align-items: center;
  gap: 0.571rem;
  color: var(--label-color);

  &:before {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    border: 0.15rem solid var(--deselected-color);
    background: var(--background-color);
    border-radius: 1rem;
    transition: all 200ms;
  }

  &:hover {
    cursor: pointer;
  }

  &[data-pressed]:before {
    border-color: var(--deselected-color-pressed);
  }

  &[data-selected] {
    &:before {
      border-color: var(--selected-color);
      border-width: 0.315rem;
    }

    &[data-pressed]:before {
      border-color: var(--selected-color-pressed);
    }
  }

  &[data-validation-state="invalid"] {
    &:before {
      border-color: var(--invalid-color);
    }

    &[data-pressed]:before {
      border-color: var(--invalid-color-pressed);
    }
  }

  &[data-focus-visible]:before {
    box-shadow: 0 0 0 2px var(--spectrum-alias-background-color-default),
      0 0 0 4px var(--selected-color);
  }

  &[data-disabled] {
    opacity: 0.4;
  }
}

.custom-container {
  height: calc(100vh - 4rem);
}
